{% extends "layout/basic.html" %} {% block title %} Добавдение Обьявления {% endblock %} {% block content %}
<h2>Добавление обьявления </h2>
<form method="post">
    {% csrf_token %} {{ form.as_p }}
    <input type="submit" value="Добавить">
</form>

{% endblock %}